* {
margin:0;
padding:0;
}


/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#222; 
    z-index:99; 
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; 
    top:50%; 
    background-image:url(../images/status.gif); 
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px;
}

html {overflow:hidden;}
body { height: 100%; width: 100%; background:#222;}

h1 {
	font-size:65px;
	font-family: 'Julius Sans One', sans-serif;
	margin:0;
}

h3 {font-family: 'Julius Sans One', sans-serif; font-size:20px; margin-top: 16px; padding:3px;}
h3:hover {background-color:rgba(100, 100, 100, 0.4);}
h5 { font-size:14px; margin:20px 0 6px 0}
h6  {font-family: 'Julius Sans One', sans-serif; font-size:20px; margin-top: 16px;}
p {font-family: 'Julius Sans One', sans-serif; margin-top:12px;}

#first { background: url(../images/slides/fest.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#second { background: url(../images/slides/starters2.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#third { background: url(../images/slides/main2.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#fourth { background: url(../images/slides/dessert3.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#fifth { background: url(../images/slides/fingerfood2.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#sixth { background: url(../images/slides/1contact.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#seventh { background: url(../images/slides/inprint.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}
#eighth { background: url(../images/slides/faq.jpg) no-repeat center center fixed; background-size:cover; height:1200px; position:fixed; -webkit-background-size:cover;}


#first article { width: 100%; position: absolute;}
#second article { width: 100%; position: absolute;}
#third  article { width: 100%; position: absolute;}
#fourth article { width: 100%; position: absolute;}
#fifth article { width: 100%; position: absolute;}
#sixth article { width: 100%; position: absolute;}
#seventh article { width: 100%; position: absolute;}
#eighth article { width: 100%; position: absolute;}
#eighth .heading {top:-21px;}
.pearlon {
	overflow-x: hidden;
	overflow-y: auto;
}

.pearlon > * {
    position: relative;
}


body>section
{
	min-width:1024px;
	position:fixed;
	top:58px;
	bottom:0;
	left:0px;
	right:0px;
	display:block;
	color:white;
	overflow-x:hidden;
}



#main article  section {
    border-bottom: 4px solid rgba(0, 0, 0, 0.4);
    margin: 0;
    max-width: 1920px;
    min-width: 1090px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 0;
}

#container {
    height: auto;
    margin:auto;
}
/*
#rightcol {
	background:rgba(0, 0, 0, 0.7); padding:20px;
	width:250px;
	height:100%;
	position:fixed;
	right:14px;
	z-index:19;
}
*/

#sidenav {
	position:fixed;
	z-index:20;
	right:250px;
	width:0px;
}
.bmenu {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
	text-decoration:none;
	font-family: 'Julius Sans One', sans-serif;
}
.bmenu li {
    display: block;
    font-size: 40px;
}
.bmenu li a {
    color: #fff;
    display: block;
    letter-spacing: 1px;
    text-align: left;
    text-shadow: 0 0 5px #FFFFFF;
    text-transform: uppercase;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.4s linear 0s;
    -moz-transition: all 0.4s linear 0s;
    -ms-transition: all 0.4s linear 0s;
    transition: all 0.4s linear 0s;
	text-decoration:none;
	font-weight:100;
}
.bmenu:hover li a {
	color: #fff;
    text-shadow: 0 0 3px #FFFFFF;
	text-decoration:none;
}
.bmenu li a:link { color: #fff }
.bmenu li a:visited { color: #fff }  
.bmenu li a:hover {text-shadow: 0 0 0px #FFFFFF;-webkit-transform: scale(0.6);-moz-transform: scale(0.6);-ms-transform: scale(0.6);transform: scale(0.6);text-decoration:none; }
.bmenu li a:active { color: #fff } 
.bmenu li a:focus { color: #fff } 


header {float:left; width:100%; display:block; color:#fff;}
#logo {float:left; position:relative; top:6px; left:35px;}



.heading {color:#222; font-family: 'Julius Sans One', sans-serif; position:inherit; top: -28px; right:80px; font-size:100px; margin-bottom:-80px; font-weight:900;}


.content{
	width: 800px;
	z-index: 10;
	position:relative;
	top:120px;
	background:rgba(0, 0, 0, 0.7); padding:20px;
	overflow:hidden;
	left:150px;
	position:inherit;
	left:600px;
}
.p-content {line-height:1.35 !important; font-family: Calibri, sans-serif !important; font-size:15px; margin:13px 0 13px 0 !important;}
footer {max-width:1920px;}
#foot1, #foot2, #foot3 {float:left;}
#foot3 {margin-right:10px;}
#contact_head {position:absolute; top:-93px; font-size: 100px; font-weight:900; color:#222; font-family: 'Julius Sans One', sans-serif; float:left; right:300px;}
#contact2 fieldset{ border:0 none; font-family: 'Julius Sans One', sans-serif; margin-top:25px;}
#contact2 dt, #contact2 dd {float:left; margin-bottom:12px; margin-right:10px;}
#contact2 dt {width: 0px;}
#contact2 input { padding: 8px; width: 220px;}
#sendfield {clear:left; position:relative; left:39px;}
#sendfield input {height: 24px; padding:0px;}
#address {
    font-family: 'Julius Sans One',sans-serif;
    font-size: 15px;
    list-style-type: none;
    margin-top: 25px;
	margin-left:1em;
}
	
	.gallery {
		padding: 10px 25px 10px 25px;
		position: relative;
		list-style-type:none;
		margin-left:80px;
		height:7000px;
		float:left;
		/*background:rgba(0, 0, 0, 0.7);*/
		padding-top:2000px;
		margin-top:-2000px;
		}
	.gallery div {position:relative; margin-bottom:30px; border:1px outset #000; background:rgba(0, 0, 0, 0.7); padding:10px;}
	/*.gallery div {position:relative; margin-bottom:20px; border:1px inset #000;}*/
	.gallyer a {text-decoration:none;}
							/*
							.gallery .img1 {
								-webkit-transform: rotate(-3deg);
								-moz-transform: rotate(-3deg);
								left: 30px;
								position:relative;
								z-index:1;}
								
							.gallery .img2 {
								-webkit-transform: rotate(15deg);
								-moz-transform: rotate(15deg);
								left:10px;
								position:relative;
								z-index:7;
								}
								
							.gallery .img3 {
								-webkit-transform: rotate(-7deg);
								-moz-transform: rotate(-7deg);
								left:30px;
								position:relative;
								z-index:3;}

							.gallery .img4 {
								-webkit-transform: rotate(10deg);
								-moz-transform: rotate(10deg);
								left:20px;
								position:relative;
								z-index:4;}
								
							.gallery .img5 {
								-webkit-transform: rotate(5deg);
								-moz-transform: rotate(5deg);
								left: 90px;
								position:relative;
								z-index:5;}
								
							.gallery .img6 {
								-webkit-transform: rotate(-5deg);
								-moz-transform: rotate(-5deg);
								position:relative;
								z-index:1;}
								*/
			.view {
				margin: 10px;
				/*border: 10px solid #fff;
				box-shadow: 1px 1px 2px #e6e6e6;*/
				box-shadow: 1px 1px 2px #222;
				overflow: hidden;
				position: relative;
				text-align: center;
				cursor: default;
				cursor:pointer;

			}
			.view .mask, .view .content {
				height:100%;
				position: absolute;
				overflow: hidden;
				top: 0;
				left: 0;
			}
			.view img {
			 -webkit-transition: all 0.2s ease-in;
			 -ms-transition: all 0.2s ease-in;
			 -moz-transition: all 0.2s ease-in;
			 transition: all 0.2s ease-in;
			 margin-bottom:-5px;
			}
			.view .mask {
			 background-color: rgba(0,0,0,0.8);
			 opacity: 0;
			 -webkit-transform: translate(460px, -100px) rotate(180deg);
			 -ms-transform: translate(460px, -100px) rotate(180deg);
			 -moz-transform: translate(460px, -100px) rotate(180deg);
			 transform: translate(460px, -100px) rotate(180deg);
			 -webkit-transition: all 0.2s 0.4s ease-in-out;
			 -ms-transition: all 0.2s 0.4s ease-in-out;
			 -moz-transition: all 0.2s 0.4s ease-in-out;
			 transition: all 0.2s 0.4s ease-in-out;
			}
			.view h4{
			 -webkit-transform: translateY(-100px);
			 -ms-transform: translateY(-100px);
			 -moz-transform: translateY(-100px);
			 transform: translateY(-100px);
			 -webkit-transition: all 0.2s ease-in-out;
			 -ms-transition: all 0.2s ease-in-out;
			 -moz-transition: all 0.2s ease-in-out;
			 transition: all 0.2s ease-in-out;
			 color:#fff;
			 height:30px;
			 padding-top:13px;
			 font-family: 'Julius Sans One', sans-serif;
			 font-weight:100;
			}
			.view:hover {z-index:15 !important;}
			.view:hover .mask {
			 opacity:1;
			 -webkit-transition-delay: 0s;
			 -ms-transition-delay: 0s;
			 -moz-transition-delay: 0s;
			 transition-delay: 0s;
			 -webkit-transform: translate(0px, 0px);
			 -ms-transform: translate(0px, 0px);
			 -moz-transform: translate(0px, 0px);
			 transform: translate(0px, 0px);
			}
			.view:hover h4{
			 -webkit-transform: translateY(0px);
			 -ms-transform: translateY(0px);
			 -moz-transform: translateY(0px);
			 transform: translateY(0px);
			 -webkit-transition-delay: 0.3s;
			 -ms-transition-delay: 0.3s;
			 -moz-transition-delay: 0.3s;
			 transition-delay: 0.3s;
			}
			
.card {list-style-type:square;}
.card h5 {margin:0px 0 1px 0;font-family: 'Julius Sans One', sans-serif;}
.card p {margin:0 0 9px 0; font-family: 'Esteban', serif;}

.trigger_active span{width:25px; height:25px; background-image:url(../images/pfeil.png) !important; position:relative; top:-1px; left:-2px;}
.trigger span {width:25px; height:25px; background-image:url(../images/pfeil2.png); position:relative; top:-1px; left:-2px;}
.toggle_container {display: none;}
.trigger {cursor:pointer;}

.trigger2 {cursor:pointer;}
.trigger_active2 span{width:25px; height:25px; background-image:url(../images/pfeil.png) !important; position:relative; top:-1px; left:-2px;}
.trigger2 span {width:25px; height:25px; background-image:url(../images/pfeil2.png); position:relative; top:-1px; left:-2px;}
.toggle_container2 {display: none;}

.trigger3{cursor:pointer;}
.trigger_active3 span{width:25px; height:25px; background-image:url(../images/pfeil.png) !important; position:relative; top:-1px; left:-2px;}
.trigger3 span {width:25px; height:25px; background-image:url(../images/pfeil2.png); position:relative; top:-1px; left:-2px;}
.toggle_container3 {display: none;}

.trigger4{cursor:pointer;}
.trigger_active4 span{width:25px; height:25px; background-image:url(../images/pfeil.png) !important; position:relative; top:-1px; left:-2px;}
.trigger4 span {width:25px; height:25px; background-image:url(../images/pfeil2.png); position:relative; top:-1px; left:-2px;}
.toggle_container4 {display: none;}
.sub1 {display:none;}
#menu {float:left; font-family: 'Julius Sans One', sans-serif; margin:0 0 0 80px; z-index:1000000;}
#menu li {float:left; display:inline; margin-right:25px; font-size:20px; }
#menu a{text-decoration:none; color:#fff; background:#222;}
#menu a:hover{text-decoration:none; color:#aaa;}
.menu-link { display: none; background:url(menu.png) no-repeat; float:right; width:51px; height:30px; margin:17px 0 0 0;}
.menu { 
  float: left;
  -webkit-transition: all 0.3s ease;  
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.menu ul { 
  padding: 0px;
  margin: 0px;
  list-style: none;
  position: relative;
  display: inline-table;
}
.menu > li > ul.sub-menu {
	min-width: 10em;
	padding: 4px 0;
	background-color: #f4f4f4;
	border: 1px solid #CCC;
}
.menu ul li { padding: 0px; }
.menu > ul > li { display: inline-block; }
.menu ul li a { display: block; text-decoration: none; color: #000; font-size: .9em; }
.menu ul li > a { height:20px; padding: 19px 12px; }
.menu ul ul { 
  display: none; 
  position: absolute; 
  top:100%;
  min-width: 160px;
  background-color: #f4f4f4;
  border: 1px solid #CCC;
}
.menu ul ul > li { position: relative; }
.menu ul ul > li a { padding: 5px 15px 5px 10px; height: auto; background-color: #f4f4f4; }
.menu ul ul ul { position: absolute; left: 100%; top:0; }
.has-submenu {display:none !important;}

.clearleft {clear:left;}
.conttext {width:453px;height:100px;padding:20px;}
.faq {
    left: 50px;
    width: 70% !important;
	margin-right:20px;
}

@media all and (max-width: 520px) {
.conttext {width:196px;height:100px;padding:20px;}
.clearleft {clear:none;}
#foot2 {margin-left:20px;}
footer {margin:0;padding:0;}
#contact2 dt, #contact2 dd {margin-right:0;}
#contact2 fieldset {max-width:255px;}
}
@media all and (max-width: 1040px) {
.has-submenu {display:inline !important;}
#first, #second, #third, #fourth, #fifth, #sixth, #second {}
.content {left:20px; width:80%;}
body > section {min-width:100px;}
#main article section {min-width:100px;}
.heading {display:none;}
nav {display:none;}
.gallery {display:none;}
#logo {display:none;}
h1 {	font-size:20px;	font-family: 'Esteban', serif;	margin:0;}
h3 {font-family: 'Julius Sans One', sans-serif; font-size:10px; margin-top: 14px;}
p {font-family: Calibri, sans-serif; margin-top:10px;}
.card h5 {font-size:11px}
.card p {font-size:10px;}
.p-content {font-size:10px  !important;}
#menu {margin:0; background:#222; z-index:1000000 !important; position:absolute; right:0; margin-top:58px;}
#menu li {float:none; margin:0; z-index:200000;}
a.menu-link { display: block; color: #fff; float: right; text-decoration: none; padding: 19px 0;}
  .menu { clear: both; min-width: inherit; float: none; }
  .menu, .menu > ul ul { overflow: hidden; max-height: 0;}
  .menu > li > ul.sub-menu { padding: 0px; border: none; }
  .menu.active, .menu > ul ul.active { max-height: 55em; }
  .menu ul { display: inline; }
  .menu > ul { border-top: 1px solid #808080; z-index:10000; }
  .menu li, .menu > ul > li { display: block; }
  .menu li a { color: #000; display: block; padding: 0.8em; border-bottom: 1px solid #808080; position: relative; }
  .menu li.has-submenu > a:after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-size: 1.5em;
    padding: 0.55em 0.5em;
  }
  .menu ul ul > li a { background-color: #e4e4e4; height:20px; padding: 9px 18px 9px 30px; }
  .menu ul ul, .menu ul ul ul { display: inherit; position: relative; left: auto; top:auto; border:none; }
  
#contact_head {display:none;}
.mapimg {width:200px; height:200px;}
.faq {
    left: 50px;
   width: 70% !important;
}
}


@media only screen and (min-width: 1041px)  and (max-width: 1270px) {
.content {left:335px; width:450px;}
.heading { font-size:90px; top:-25px;}
h1 {	font-size:40px;	font-family: 'Julius Sans One', sans-serif;	margin:0;}
h3 {font-family: 'Julius Sans One', sans-serif; font-size:15px; margin-top: 14px;}
h4 {font-size:11px;}
p {font-family: Calibri, sans-serif; margin-top:11px; font-size:12px;}
.card h5 {font-size:13px}
.card p {font-size:12px;}
#mainnav li {font-size:16px;}
.p-content {font-size:12px  !important;}
.faq {
    left: 50px;
    width: 75%%;
}
}		
@media only screen and (min-width: 1271px)  and (max-width: 1400px) {
.content {left:470px; width:500px;}
.heading { font-size:90px; top:-25px;}
h1 {	font-size:40px;	font-family: 'Julius Sans One', sans-serif;	margin:0;}
h3 {font-family: 'Julius Sans One', sans-serif; font-size:15px; margin-top: 14px;}
h4 {font-size:11px;}
p {font-family: Calibri, sans-serif; margin-top:11px; font-size:13px;}
.card h5 {font-size:14px}
.card p {font-size:12px;}
#mainnav li {font-size:17px;}
.p-content {font-size:13px  !important;}
.faq {
    left: 50px;
    width: 75% !important;
}
}			
@media only screen and (min-width: 1401px)  and (max-width: 1500px) {
.content {left:470px;width:600px;}
.heading { font-size:90px; top:-25px;}
h1 {	font-size:50px;	font-family: 'Julius Sans One', sans-serif;	margin:0;}
h3 {font-family: 'Julius Sans One', sans-serif; font-size:18px; margin-top: 15px;}
p {font-family: Calibri, sans-serif; margin-top:12px; font-size:14px;}
h4 {font-size:13px;}
.card h5 {font-size:15px}
.card p {font-size:12px;}
#mainnav li {font-size:18px;}
.p-content {font-size:14px !important;}
.faq {
    left: 50px;
    width: 75% !important;
}
}
@media only screen and (min-width: 1501px)  and (max-width: 1700px) {
.content {left:470px;width:700px;}
.heading { font-size:90px; top:-25px;}
h1 {	font-size:55px;	font-family: 'Julius Sans One', sans-serif;	margin:0;}
h3 {font-family: 'Julius Sans One', sans-serif; font-size:18px; margin-top: 15px;}
p {font-family: Calibri, sans-serif; margin-top:12px; font-size:15px;}
h4 {font-size:13px;}
.card h5 {font-size:15px}
.card p {font-size:12px;}
#mainnav li {font-size:19px;}
.p-content {font-size:15px  !important;}
.faq {
    left: 50px;
    width: 75% !important;
}
}
@media only screen and (min-width: 1701px)  and (max-width: 4000px) {
h1 {	font-size:70x;	font-family: 'Julius Sans One', sans-serif;	margin:0;}
h3 {font-family: 'Julius Sans One', sans-serif; font-size:20px; margin-top: 16px;}
h4 {font-size:15px;}
p {font-family: Calibri, sans-serif; margin-top:13px; font-size:15px;}
.card h5 {font-size:17px}
.card p {font-size:13px;}
.p-content {font-size:15px;}
.p-content {font-size:15px  !important;}
.faq {
    left: 50px;
    width: 80%;
}
}